{% load static %}
<!-- card-instancias.html -->

<div class="col-sm-8">
  <div class="card">
    <div class="card-body">
      <h5 class="card-title">Informações do Usuário</h5>
      <p class="card-text"></p>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link d-flex active" data-bs-toggle="tab" href="#home2" role="tab" aria-selected="true">
            <span><i class="ti ti-home-2 fs-4"></i></span>
            <span class="d-none d-md-block ms-2">Instancia Criada</span>
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link d-flex" data-bs-toggle="tab" href="#profile2" role="tab" aria-selected="false" tabindex="-1">
            <span><i class="ti ti-user fs-4"></i></span>
            <span class="d-none d-md-block ms-2">Criar Instancia</span>
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link d-flex" data-bs-toggle="tab" href="#messages2" role="tab" aria-selected="false" tabindex="-1">
            <span><i class="ri-chat-4-line"></i></span>
            <span class="d-none d-md-block ms-2">Messages</span>
          </a>
        </li>
      </ul>
      <!-- Tab panes -->
      <div class="tab-content">
        <div class="tab-pane active show" id="home2" role="tabpanel">
          {% include 'app_integracao/page_whatsapp/blocos/dados-loja-whatsapp.html' %}
        </div>
        <div class="tab-pane p-3" id="profile2" role="tabpanel">
          <div class="card-body">
            <div class="card-body">
              <h4 class="card-title" _msttexthash="594919" _msthash="659">Vamos criar uma conexão com o WhatsApp</h4>
              <p class="card-subtitle mb-3" _msttexthash="719017" _msthash="660">basta digitar o numero do WhatsApp que deseja conectar</p>
              <form method="POST">
                {% csrf_token %}
                <div class="form-floating mb-3">
                  <input type="text" class="form-control border border-primary" placeholder="Nome de usuário" _mstplaceholder="113997" _msthash="661" />
                  <label>
                    <i class="ti ti-user me-2 fs-4 text-primary"></i>
                    <span class="border-start border-primary ps-3" _msttexthash="262080" _msthash="662">Nome do WhatsApp</span>
                  </label>
                </div>
                <div class="form-floating mb-3">
                  <input type="email" class="form-control border border-primary" id="id_telefone" placeholder="Número do WhatsApp que deseja conectar " _mstplaceholder="58058" _msthash="663" />
                  <label>
                    <i class="ti ti-mail me-2 fs-4 text-primary"></i>
                    <span class="border-start border-primary ps-3" _msttexthash="441363" _msthash="664">Numero do WhatsApp</span>
                  </label>
                </div>

                <div class="d-md-flex align-items-center">
                  <div class="mt-3 mt-md-0 ms-auto">
                    <button type="submit" class="btn btn-primary hstack gap-6"><i class="ti ti-qrcode me-2 fs-4"></i><font _mstmutation="1" _msttexthash="76830" _msthash="670">Gerar Qr-Code</font></button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="tab-pane p-3" id="messages2" role="tabpanel">....</div>
      </div>
    </div>
  </div>
</div>
