{% extends 'pages/index.html' %}
{% block TituloConteudoFluido %}

{% endblock %}

{% block Dashboard %}
{% load static %}
  <div class="container-fluid">

    <div class="col-lg-12 col-xl-12" bis_skin_checked="1">
      <div class="card" bis_skin_checked="1">
        <div class="card-body position-relative" bis_skin_checked="1">
          <div bis_skin_checked="1">
            <h4 class="card-title mb-1">
              Olá{% if user.is_authenticated %}
                {{ request.user.profile.nome }}
              {% endif %}
            </h4>
            <p class="card-subtitle mb-3 pb-1">
              seja bem vindo a sua pagina de perfil <br>
              Aqui voce pode alterar suas Informações. <br>
              Não se preocupe cuidaremos muito bem dos seus dados.
            </p>
            
          </div>
          <!-- Mover a imagem para dentro do card -->
          <style>
            .school-img {
              position: absolute;
              bottom: 9px;
              right: 20px;
              max-width: 150px;
              width: 100%;
            }
          </style>
          <div class="school-img d-none d-sm-block" bis_skin_checked="1">
            <img src="{% static 'assets/images/backgrounds/profile01.png' %}" class="img-fluid" alt="spike-img" />
          </div>

          <div class="d-sm-none d-block text-center" bis_skin_checked="1">
            <img src="{% static 'assets/images/backgrounds/education-blocks.png' %}" class="img-fluid" alt="spike-img" />
          </div>
        </div>
      </div>
    </div>


    <div class="row">
      <div class="col-sm-8">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Informações do Usuário</h5>
            <p class="card-text"></p>
            <form class="row g-3" method="POST" action="{% url 'app_profile:profile' %}">
              {% csrf_token %}
              <div class="col-md-2">
                <label for="inputIdUser" class="form-label">ID Usuário</label>
                <input type="text" class="form-control" id="inputIdUser" value="{{ request.user.pk }}" disabled />
              </div>
              <div class="col-md-4">
                <label for="inputNomeUser" class="form-label">Nome</label>
                <input type="text" class="form-control" id="inputNomeUser" name="inputNomeUser" value="{{ request.user.profile.nome }}" />
              </div>
              <div class="col-md-6">
                <label for="inputEmailUser" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="inputEmailUser" value="{{ request.user.email }}" disabled />
              </div>
              <div class="col-6">
                <label for="inputTel" class="form-label">Telefone/Celular</label>
                <input type="tel" class="form-control" id="inputTel" placeholder="1234 Main St" value="{{ request.user.profile.whatsapp }}" />
              </div>
              <div class="col-6" style="margin-top: 43px;">
                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault" name="notificacao_whatsapp" {% if request.user.profile.notificacao_whatsapp == 1 %} checked {% else %}  {% endif %} />
                  <label class="form-check-label" for="flexSwitchCheckDefault">Notificações no WhatsApp</label>
                </div>

                <div class="form-check form-switch">
                  <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" name="notificacao_email" />
                  <label class="form-check-label" for="flexSwitchCheckChecked">Notificações no Email</label>
                </div>  
              </div>
              <div class="col-12">
                <label for="inputCnpjCpf" class="form-label">CNPJ/CPF</label>
                <input type="text" class="form-control" id="inputCnpjCpf" placeholder="Digite seu cpf ou cnpj para dados fiscais" />
              </div>

              <div class="col-12">
                <button type="submit" class="btn btn-info rounded-pill">Atualizar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Informações da Loja</h5>
            <p class="card-text"></p>
            <form class="row g-3">
              <div class="col-md-4">
                <label for="inputIdLoja" class="form-label">ID</label>
                <input type="text" class="form-control" id="inputIdLoja" />
              </div>
              <div class="col-md-8">
                <label for="inputNomeLoja" class="form-label">Nome/Razão Social</label>
                <input type="text" class="form-control" id="inputNomeLoja" />
              </div>
              <div class="col-md-12">
                <label for="inputEmailLoja" class="form-label">E-mail</label>
                <input type="email" class="form-control" id="inputEmailLoja" />
              </div>
             
              <div class="col-12">
                <label for="inputToken" class="form-label">CPF/CNPJ</label>
                <input type="text" class="form-control" id="inputToken" placeholder="1234 Main St" />
              </div>
              <div class="col-12" style="margin-bottom: 5px;">
                <a class="btn btn-info rounded-pill" href="https://www.bibelo.com.br" target="_blank">Visitar minha loja</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


