server {
    listen 80;
    server_name example.com;

    # Configuração para servir arquivos estáticos
    location /static/ {
        # O alias deve apontar para o diretório onde os arquivos estáticos são coletados
        alias /path/to/your/staticfiles/;
        # Opcional: Defina o tipo de conteúdo, caso necessário
        # add_header Content-Type text/css;
    }

    # Configuração para servir arquivos de mídia (se aplicável)
    # location /media/ {
    #     alias /path/to/your/mediafiles/;
    # }

    # Configuração para encaminhar requisições para o servidor Django
    location / {
        proxy_pass http://localhost:8000;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        # Opcional: Melhorar o tempo de resposta ajustando o tempo limite
        # proxy_read_timeout 300;
    }

    # Configuração opcional para lidar com erros
    # error_page 500 502 503 504 /500.html;
    # location = /500.html {
    #     root /path/to/your/staticfiles/;
    #     internal;
    # }
}
