{% load static %}
<div class="container-fluid">
  <div class="col-lg-12 col-xl-12" bis_skin_checked="1">
    <div class="card" bis_skin_checked="1">
      <div class="card-body position-relative" bis_skin_checked="1">
        <div bis_skin_checked="1">
          <h2>Detalhes do cliente</h2>
          <div class="card-title mb-1">
            <p>{{ cliente }}</p>
          </div>
        </div>
        <!-- Mover a imagem para dentro do card -->
        <!-- Mover a imagem para dentro do card -->
        <style>
          .school-img {
            position: absolute;
            bottom: 0px;
            right: 20px;
            max-width: 150px;
            width: 100%;
          }
        </style>
        <div class="school-img d-none d-sm-block" bis_skin_checked="1">
          <img src="{% static 'assets/images/backgrounds/profile01.png' %}" class="img-fluid" alt="spike-img" />
        </div>

        <div class="d-sm-none d-block text-center" bis_skin_checked="1">
          <img src="{% static 'assets/images/backgrounds/education-blocks.png' %}" class="img-fluid" alt="spike-img" />
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Vendas</h5>
          <p class="card-text"></p>

          <ul class="list-group list-group-flush">
            {% for pedido in pedidos %}
              <li class="list-group-item">
                Id Venda: {{ pedido.id_venda }} <br />p{{ pedido.data_pedido }} <br /> Valor Total: R$ {{ pedido.total }}
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>

    <!-- Card Dados Cliente -->
    <div class="col-sm-4">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Informações do cliente</h5>
          <p class="card-text"></p>
          <p class="lh-3">
            {{ cliente.contact_name }} {{ cliente.contact_email }}<br /> Telefone: {{ cliente.contact_phone }} <br />CPF/CNPJ: {{ cliente.contact_identification }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
