{% extends 'pages/base/base.html' %}

{% block Dashboard %}
  {% load static %}
  <div class="container-fluid">
    {% block TituloConteudoFluidoDashboard %}
      <!-- Título do conteúdo fluido -->
      <h5 class="card-title fw-semibold mb-4">Central de Integrações</h5>
      {% for message in messages %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
      {% endfor %}
    {% endblock %}
    <div class="row p-3">
      <!-- Inclusão dos blocos -->

      {% include 'app_integracao/blocos/card-nuvemshop.html' %}
      {% include 'app_integracao/blocos/card-whatsapp.html' %}
      {% include 'app_integracao/blocos/excluir.html' %}
      {% include 'app_integracao/page_whatsapp/blocos/modal-whatsapp.html' %}
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script defer>
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })
  </script>
{% endblock %}
