{% extends 'pages/base/base.html' %}

{% block Dashboard %}
  {% load static %}
  <div class="container-fluid">
    {% block TituloConteudoFluidoDashboard %}
      {% include 'app_integracao/blocos/header-integracao.html' %}
      {% include 'app_integracao/page_nuvemshop/dados-loja-nuvem.html' %}
      {% include 'app_integracao/page_nuvemshop/webhooks-configurados.html' %}
      {% include 'app_integracao/page_whatsapp/blocos/dados-loja-whatsapp.html' %}
    {% endblock %}
  </div>
{% endblock %}
