{% extends 'pages/index.html' %}

{% block Dashboard %}
  {% load static %}
  <div class="container-fluid">
    {% block TituloConteudoFluidoDashboard %}
      <!-- Título do conteúdo fluido -->
      <h5 class="card-title fw-semibold mb-4">Central de Integrações</h5>
      {% for message in messages %}
        <div class="alert alert-success" role="alert">{{ message }}</div>
      {% endfor %}
    {% endblock %}
    <div class="row p-3">
      <!-- Inclusão dos blocos -->
      {% include 'app_integracao/blocos/card-nuvemshop.html' %}
      {% include 'app_integracao/blocos/card-whatsapp.html' %}
      {% include 'app_integracao/blocos/excluir.html' %}
    </div>
  </div>
{% endblock %}
