{% if loja_integrada %}
  <div class="row mt-12">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Informações da Loja</h5>
          <p class="card-text"></p>
          <form class="row g-3">
            <div class="col-md-4">
              <label for="inputIdLoja" class="form-label">ID</label>
              <input type="text" class="form-control" id="inputIdLoja" value="{{ request.user.loja.pk }}" disabled />
            </div>
            <div class="col-md-8">
              <label for="inputNomeLoja" class="form-label">Nome/Razão Social</label>
              <input type="text" class="form-control" id="inputNomeLoja" value="{{ request.user.loja.nome }}" disabled />
            </div>
            <div class="col-md-12">
              <label for="inputEmailLoja" class="form-label">E-mail</label>
              <input type="email" class="form-control" id="inputEmailLoja" value="{{ request.user.loja.email }}" disabled />
            </div>
            <div class="col-6">
              <label for="inputToken" class="form-label">CPF/CNPJ</label>
              <input type="text" class="form-control" id="inputToken" placeholder="1234 Main St" value="{{ request.user.loja.doc }} " />
            </div>
            <div class="col-6">
              <label for="inputToken" class="form-label">WhatsApp</label>
              <input type="text" class="form-control" id="inputToken" placeholder="1234 Main St" value="{{ request.user.loja.whatsapp_phone_number }}" />
            </div>
            <div class="col-12" style="margin-bottom: 5px;">
              <a class="btn btn-info rounded-pill" href="#">Atualizar</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% elif whatsapp_integrado %}
  <div class="row mt-12">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ whatsapp_integrado }}</h5>
          <hr />
          <p class="card-text">WhatsApp: {{ whatsapp_integrado.pk }}</p>
          <p class="card-text">Email de Contato: {{ whatsapp_integrado.email }}</p>
          <p class="card-text">Nome: {{ whatsapp_integrado.instanceName }}</p>
          <p class="card-text">token: {{ whatsapp_integrado.token }}</p>
          <!-- Adicione outros campos da Loja Integrada que você deseja exibir -->
        </div>
      </div>
    </div>
  </div>
{% endif %}
