{% load static %}
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12 col-xl-12" bis_skin_checked="1">
      <div class="card" bis_skin_checked="1">
        <div class="card-body position-relative" bis_skin_checked="1">
          <div bis_skin_checked="1">
            <h4 class="card-title mb-1">
              Bem vindo{% if user.is_authenticated %}
                {{ request.user.profile.nome }}
              {% endif %}
            </h4>
            <p class="card-subtitle mb-3 pb-1">
              Use o Notiflix para avisar aos seus clientes <br /> o status dos pedidos.
            </p>
            <button class="btn btn-primary rounded-pill" type="button">Dúvidas</button>
          </div>
          <!-- Mover a imagem para dentro do card -->
          <style>
            .school-img {
              position: absolute;
              bottom: 0;
              right: -30px;
              max-width: 330px;
              width: 100%;
            }
          </style>
          <div class="school-img d-none d-sm-block" bis_skin_checked="1">
            <img src="{% static 'assets/images/backgrounds/school.png' %}" class="img-fluid" alt="spike-img" />
          </div>

          <div class="d-sm-none d-block text-center" bis_skin_checked="1">
            <img src="{% static 'assets/images/backgrounds/school.png' %}" class="img-fluid" alt="spike-img" />
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-12 col-xl-12" bis_skin_checked="1">
      <div class="row" bis_skin_checked="1">
        <div class="col-sm-3" bis_skin_checked="1">
          <div class="card warning-card overflow-hidden text-bg-primary" bis_skin_checked="1">
            <div class="card-body p-4" bis_skin_checked="1">
              <div class="mb-7" bis_skin_checked="1">
                <i class="ti ti-brand-producthunt fs-8 fw-lighter"></i>
                Pedido Confirmado
              </div>
              <h5 class="text-white fw-bold fs-14 text-nowrap">2358 <span class="fs-2 fw-light">+23%</span></h5>
              <p class="opacity-50 mb-0">Sales</p>
            </div>
          </div>
        </div>

        <div class="col-sm-3" bis_skin_checked="1">
          <div class="card danger-card overflow-hidden text-bg-primary" bis_skin_checked="1">
            <div class="card-body p-4" bis_skin_checked="1">
              <div class="mb-7" bis_skin_checked="1">
                <i class="ti ti-report-money fs-8 fw-lighter"></i>
                Pedido embalados
              </div>
              <h5 class="text-white fw-bold fs-14">356 <span class="fs-2 fw-light">+8%</span></h5>
              <p class="opacity-50 mb-0">Refunds</p>
            </div>
          </div>
        </div>

        <div class="col-sm-3" bis_skin_checked="1">
          <div class="card danger-card overflow-hidden text-bg-primary" bis_skin_checked="1">
            <div class="card-body p-4" bis_skin_checked="1">
              <div class="mb-7" bis_skin_checked="1">
                <i class="ti ti-report-money fs-8 fw-lighter"></i>
                Pedido enviados
              </div>
              <h5 class="text-white fw-bold fs-14">356 <span class="fs-2 fw-light">+8%</span></h5>
              <p class="opacity-50 mb-0">Refunds</p>
            </div>
          </div>
        </div>

        <div class="col-sm-3" bis_skin_checked="1">
          <div class="card info-card overflow-hidden text-bg-primary" bis_skin_checked="1">
            <div class="card-body p-4" bis_skin_checked="1">
              <div class="mb-7" bis_skin_checked="1">
                <i class="ti ti-currency-dollar fs-8 fw-lighter"></i>
                abandonados
              </div>
              <h5 class="text-white fw-bold fs-14 text-nowrap">$235.8K <span class="fs-2 fw-light">-3%</span></h5>
              <p class="opacity-50 mb-0">Earnings</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
