<div class="container-fluid">
  <div class="card card-body">
    <div class="row">
      <div class="col-md-4 col-xl-3">
        <h5>Lista de Pedidos</h5>
      </div>
      <div class="col-md-8 col-xl-9 text-end d-flex justify-content-md-end justify-content-center mt-3 mt-md-0">
        <div class="action-btn show-btn" style="display: block;">
          <a href="javascript:void(0)" class="delete-multiple bg-danger-subtle btn me-2 text-danger d-flex align-items-center"><i class="ti ti-trash me-1 fs-5"></i> Deletar pedido</a>
        </div>
        <form method="post" action="{% url 'app_pedido:sincronizar_pedidos' %}" id="form-sincronizar">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary d-flex align-items-center"><i class="ti ti-users text-white me-1 fs-5"></i> Sincronizar</button>
        </form>
      </div>
    </div>
  </div>

  <div class="card card-body">
    <div class="table-responsive">
      <table id="example" class="table search-table align-middle text-nowrap">
        <thead class="header-item">
          <tr>
            <th>
              <div class="n-chk align-self-center text-center">
                <div class="form-check">
                  <input type="checkbox" class="form-check-input primary" id="contact-check-all" />
                  <label class="form-check-label" for="contact-check-all"></label>
                  <span class="new-control-indicator"></span>
                </div>
              </div>
            </th>
            <th>Venda</th>
            <th>Data</th>
            <th>Cliente</th>
            <th>Total</th>
            <th>Status de pagamento</th>
            <th>Status de envio</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          {% for pedido in pedidos %}
            <tr class="search-items">
              <td>
                <div class="form-check">
                  <input type="checkbox" class="form-check-input contact-chkbox primary" id="checkbox{{ forloop.counter }}" />
                  <label class="form-check-label" for="checkbox{{ forloop.counter }}"></label>
                </div>
              </td>
              <td>
                <span class="usr-email-addr" data-venda="venda">{{ pedido.id_venda }}</span>
              </td>
              <td>
                <span class="usr-data" data-data="data">{{ pedido.data_pedido }}</span>
              </td>
              <td>
                <span class="usr-cliente" data-cliente="cliente">{{ pedido.cliente.contact_name }}</span>
              </td>
              <td>
                <span class="usr-total" data-total="total">{{ pedido.valor_formatado }}</span>
              </td>
              <td>
                <span class="usr-status-pagamento" data-status-pagamento="status-pagamento">{{ pedido.status_pagamento }}</span>
              </td>
              <td>
                <span class="usr-status-envio" data-status-envio="status-envio">{{ pedido.status_envio }}</span>
              </td>
              <td>
                <div class="action-btn">
                  <a href="javascript:void(0)" class="text-primary edit"><i class="ti ti-eye fs-5"></i></a>
                  <a href="javascript:void(0)" class="text-dark delete ms-2"><i class="ti ti-trash fs-5"></i></a>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
