<div class="card card-body">
  <div class="row">
    <div class="col-xl-12">
      <h5>Explicação do código</h5>
      <span>Estas mensagens usam variáveis de código. Conheça-as para entender as informações que serão exibidas:</span><br />
      <span>Caso queira, você pode usar atalhos de formatação de texto do WhatsApp para personalizar suas mensagens.</span>
    </div>
    <p></p>
    <div class="col-xl-4">
      <span><strong>[nome_loja]</strong>: Nome da loja.</span><br />
      <span><strong>[nome_cliente]</strong>: Nome do cliente.</span><br />
      <span><strong>[numero_pedido]</strong>: Número do pedido.</span><br />
    </div>
    <div class="col-xl-4">
      <span><strong>[valor_pedido]</strong>: Valor total do pedido.</span><br />
      <span><strong>[status_pedido]</strong>: Status atual do pedido.</span><br />
      <span><strong>[cart.link]</strong>: Link carrinho abandonado.</span><br />
    </div>
    <div class="col-xl-4">
      <span><strong>[link_rastreio]</strong>: Link para rastrear o pedido.</span><br />
    </div>
  </div>
</div>
