<div class="card card-body">
  <div class="row">
    <div class="col-xl-12">
      <h5>Explicação do código</h5>
      <span>Estas mensagens usam variáveis de código. Conheça-as para entender as informações que serão exibidas.</span>
    </div>
    <p></p>
    <div class="col-xl-2">
      <span>[nome_loja]</span>
      <span>[nome_cliente]</span>
      <span>[numero_pedido]</span>
    </div>
    <div class="col-xl-2">
      <span>[valor_pedido]</span>
      <span>[status_pedido]</span>
      <span>[cart.link]</span>
    </div>
  </div>
</div>
