<div class="row">
  <form method="POST" action="{% url 'app_mensagem:edita_mensagem' %}">
    {% csrf_token %}
    <div class="row">
      {% for mensagem in mensagens %}
        <div class="col-lg-6">
          <div class="card mb-4">
            <div class="card-body">
              <div class="mb-3">
                <div class="d-flex align-items-center gap-3 flex-wrap">
                  <label for="textarea{{ forloop.counter }}" class="card-title fw-semibold mb-4">{{ mensagem.tipo_pedido }}</label>
                  <div class="form-check form-switch ms-auto">
                    <input class="form-check-input" name="ative_id_{{ forloop.counter }}" type="checkbox" id="toggleSwitch{{ forloop.counter }}" {% if mensagem.ativado %}checked{% endif %} value="true">
                    <label class="form-check-label" for="toggleSwitch{{ forloop.counter }}">Ativar</label>
                  </div>
                </div>
                <input type="hidden" name="mensagem_id_{{ forloop.counter }}" value="{{ mensagem.pk }}">
                <textarea class="form-control" name="mensagem_edit_{{ forloop.counter }}" id="textarea{{ forloop.counter }}" rows="3">{{ mensagem.mensagem_padrao }}</textarea>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <!-- O botão "Atualizar Todas" foi movido para o topo -->
    <div class="row">
      <div class="col-12 d-flex justify-content-center m-1">
        <button type="submit" class="btn btn-info rounded-pill btn-atualizar">Atualizar</button>
      </div>
    </div>
  </form>
</div>

