<div class="col-md-4">
  <div class="card">
    <div class="card-header position-relative">
      <div class="position-absolute top--2 end-0">
        {% if user.is_authenticated %}
          {% if user.loja %}
            <div class="bg-success text-white rounded-circle d-flex align-items-center justify-content-center" style="width: 25px; height: 25px;">
              <i class="ti ti-check"></i>
            </div>
          {% endif %}
        {% endif %}
      </div>NuvemShop
    </div>
    <div class="card-body">
      <h5 class="card-title">Configuração Nuvemshop</h5>
      <p class="card-text">Você tem loja na Nuvemshop?</p>
      {% if user.is_authenticated %}
        {% if user.loja %}
          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Remover</button>
        {% else %}
          <a href="https://www.tiendanube.com/apps/8619/authorize?state=csrf-code" class="btn btn-primary">Conectar</a>
        {% endif %}
      {% endif %}
    </div>
  </div>
</div>
