<div class="col-md-4" bis_skin_checked="1">
  <!-- Conteudo fora do card <h5 class="card-title fw-semibold mb-4">NuvemShop</h5> -->
  <div class="card" bis_skin_checked="1">
    <div class="card-header" bis_skin_checked="1">NuvemShop</div>
    <div class="card-body" bis_skin_checked="1">
      <h5 class="card-title">Configuração Nuvemshop</h5>
      <p class="card-text">Você tem loja na Nuvemshop?</p>
      <a href="https://www.tiendanube.com/apps/8619/authorize?state=csrf-code" class="btn btn-primary">Conectar</a>
    </div>
  </div>
</div>
