<div class="col-md-4" bis_skin_checked="1">
  <!-- Conteudo fora do card <h5 class="card-title fw-semibold mb-4">NuvemShop</h5> -->
  <div class="card" bis_skin_checked="1">
    <div class="card-header" bis_skin_checked="1">WhatsApp</div>
    <div class="card-body" bis_skin_checked="1">
      <h5 class="card-title">Configuração Nuvemshop</h5>
      <p class="card-text">Você tem loja na Nuvemshop?</p>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">Remover</button>
    </div>
  </div>
</div>
