<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Configuração Nuvemshop</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="fs-5">Você já está integrado a Nuvemshop</div><br />
        <div class="fs-5">deseja realmente remover a integração?</div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">NÃO</button>
        <a href="{% url 'nuvemshop_app:desativar_integracao' %}" class="btn btn-danger">SIM</a>
      </div>
    </div>
  </div>
</div>
