<!DOCTYPE html>

<html lang="pt-br">
  {% load static %}
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Spike Free</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'assets/images/logos/favicon.png' %}" />
    <link rel="stylesheet" href="{% static 'assets/css/styles.min.css' %}" />
  </head>

  <body>
    <!-- Body Wrapper -->
    <div class="page-wrapper p-0" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" data-sidebar-position="fixed" data-header-position="fixed">
      <div class="position-relative overflow-hidden radial-gradient min-vh-100 d-flex align-items-center justify-content-center">
        <div class="d-flex align-items-center justify-content-center w-100">
          <div class="card auth-card mb-0 mx-3">
            <div class="card-body">
              <a href="./index.html" class="text-nowrap logo-img text-center d-block py-3 w-100"><img src="{% static 'assets/images/logos/dark-logo.svg' %}" width="180" alt="" /></a>
              <p class="text-center">Suas campanhas sociais</p>
              {% block Alerta %}

              {% endblock %}
              {% block Formulario %}

              {% endblock %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="{% static 'assets/libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
  </body>
</html>
