{% if whatsapp_integrado %}
  <div class="row mt-12">
    <div class="col-md-8 mx-auto">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ whatsapp_integrado }}</h5>
          <hr />
          <p class="card-text">WhatsApp: {{ whatsapp_integrado.pk }}</p>
          <p class="card-text">Email de Contato: {{ whatsapp_integrado.email }}</p>
          <p class="card-text">Nome: {{ whatsapp_integrado.instanceName }}</p>
          <p class="card-text">token: {{ whatsapp_integrado.token }}</p>

          <img src="{{ whatsapp_integrado.qr_code_image }}" alt="" />
          <!-- Adicione outros campos da Loja Integrada que você deseja exibir -->
        </div>
      </div>
    </div>
  </div>
{% endif %}
