<!-- Modal -->
<div class="modal fade" id="modal-instance-whatsapp" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Criar Instancia Whatsapp</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <h1>ATENÇÃO</h1>
          <p>As APIs não oficiais podem ser úteis em certos cenários, mas vêm com trabalhos manuais significativos e limitações em comparação com a API oficial. Breve comparativo abaixo:</p>
          <ul>
            <li>
              Você precisa realizar a leitura de <span class="highlight">QrCode</span> e manter um Smartphone conectado à internet.
            </li>
            <li>
              <span class="highlight">Risco alto</span> ao enviar múltiplas mensagens para números sem consentimento.
            </li>
            <li>
              Não é uma conta oficial com <span class="highlight">selo de verificação</span> pelo WhatsApp.
            </li>
            <li>
              <span class="highlight">Conexão Instável</span>, podem ocorrer interrupções durante atualizações de rotina do WhatsApp.
            </li>
            <li>
              Você pode usar o mesmo número que utiliza em seu <span class="highlight">WhatsApp Business</span> atualmente.
            </li>
            <li class="attr">
              Não possui nenhum custo. Todas as mensagens enviadas e recebidas são <span class="highlight">Grátis</span>.
            </li>
          </ul>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Understood</button>
        </div>
      </div>
    </div>
  </div>
</div>
