<div class="table-responsive text-nowrap" bis_skin_checked="1">
  <div id="dataTablesDefault_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer" bis_skin_checked="1">
    <div class="dt-buttons btn-group flex-wrap" bis_skin_checked="1">
      <button class="btn btn-secondary btn-sm mb-2 me-1 rounded btn-default" tabindex="0" aria-controls="dataTablesDefault" type="button" title="Atualizar tabela"><span><i class="bx bx-sync"></i></span></button>
      <button class="btn btn-secondary buttons-print btn-sm mb-2 ms-1 me-1 rounded btn-default" tabindex="0" aria-controls="dataTablesDefault" type="button" title="Imprimir"><span><i class="bx bx-printer"></i></span></button>
      <button class="btn btn-secondary buttons-excel buttons-html5 btn-sm mb-2 ms-1 me-1 rounded btn-default processing" tabindex="0" aria-controls="dataTablesDefault" type="button" title="Excel"><span><i class="bx bxs-file-doc"></i></span></button>
    </div>

    <div id="dataTablesDefault_filter" class="dataTables_filter" bis_skin_checked="1">
      <label>Buscar:<input type="search" class="form-control form-control-sm" placeholder="" aria-controls="dataTablesDefault" /></label>
    </div>
    <div id="dataTablesDefault_processing" class="dataTables_processing card" style="display: none;" bis_skin_checked="1">
      Aguarde, carregando...<div bis_skin_checked="1">
        <div bis_skin_checked="1"></div>
        <div bis_skin_checked="1"></div>
        <div bis_skin_checked="1"></div>
        <div bis_skin_checked="1"></div>
      </div>
    </div>
    <table class="table table-striped table-hover table-bordered dataTable no-footer" id="dataTablesDefault" style="width: 100%;" aria-describedby="dataTablesDefault_info">
      <thead>
        <tr>
          <th style="width: 130px;" class="sorting sorting_asc" tabindex="0" aria-controls="dataTablesDefault" rowspan="1" colspan="1" aria-label=" Nome: activate to sort column descending" aria-sort="ascending">
            <i class="bx bxl-whatsapp text-success"></i> Nome
          </th>
          <th class="sorting" tabindex="0" aria-controls="dataTablesDefault" rowspan="1" colspan="1" aria-label=" Servidor: activate to sort column ascending" style="width: 120px;">
            <i class="bx bxs-server"></i> Servidor
          </th>
          <th class="sorting" tabindex="0" aria-controls="dataTablesDefault" rowspan="1" colspan="1" aria-label="DeviceToken: activate to sort column ascending" style="width: 109px;">DeviceToken</th>
          <th class="sorting" tabindex="0" aria-controls="dataTablesDefault" rowspan="1" colspan="1" aria-label="Atividade: activate to sort column ascending" style="width: 103px;">Atividade</th>
          <th class="sorting" tabindex="0" aria-controls="dataTablesDefault" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 88px;">Status</th>
          <th style="width: 120px;" class="sorting" tabindex="0" aria-controls="dataTablesDefault" rowspan="1" colspan="1" aria-label="Ações: activate to sort column ascending">Ações</th>
        </tr>
      </thead>
      <tbody class="table-border-bottom-0">
        <tr class="odd">
          <td class="sorting_1">
            <i class="bx bx-mobile"></i> <span title="sansumgs">sansumgs</span>
          </td>
          <td>FREE04 - ZAPDEV</td>
          <td>
            <div class="textoOff mostrarTextoCompleto" style="display: block;" bis_skin_checked="1">
              7bd7d4f7-f... <i class="bx bx-show" title="Mostrar mais"></i>
            </div>
            <div class="textoCompleto" style="display: none;" bis_skin_checked="1">7bd7d4f7-f596-4f35-a5d3-56a117821922</div>
          </td>
          <td>11/05/24 12:16</td>
          <td>
            <span class="badge bg-danger">notLogged</span>
          </td>
          <td>
            <button type="button" title="Conectar com o WhatsApp" class="btn btn-success btn-sm" onclick="connectWhatsApp('fe236510-f464-43c4-b3cc-5791478e319f')"><i class="bx bx-qr"></i></button>
            <button type="button" class="btn btn-secondary btn-sm p-1 hide-arrow" onclick="editModal('10392', 'notLogged');"><i class="bx bx-edit"></i></button>
            <button type="button" class="btn btn-danger btn-sm p-1 hide-arrow" onclick="deleteItem(10392);"><i class="bx bx-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="dataTables_info" id="dataTablesDefault_info" role="status" aria-live="polite" bis_skin_checked="1">Mostrando 1 a 1 de 1 informações</div>
    <div class="dataTables_paginate paging_simple_numbers" id="dataTablesDefault_paginate" bis_skin_checked="1">
      <ul class="pagination">
        <li class="paginate_button page-item previous disabled" id="dataTablesDefault_previous">
          <a href="#" aria-controls="dataTablesDefault" data-dt-idx="0" tabindex="0" class="page-link">Anterior</a>
        </li>
        <li class="paginate_button page-item active">
          <a href="#" aria-controls="dataTablesDefault" data-dt-idx="1" tabindex="0" class="page-link">1</a>
        </li>
        <li class="paginate_button page-item next disabled" id="dataTablesDefault_next">
          <a href="#" aria-controls="dataTablesDefault" data-dt-idx="2" tabindex="0" class="page-link">Próximo</a>
        </li>
      </ul>
    </div>
  </div>
</div>
