<div class="pt-5s mx-auto mb-auto h-full min-h-[84vh] p-2 md:pr-2">
  <div class="mt-5 grid grid-cols-1 gap-5 md:grid-cols-2">
    <div class="!z-5 relative flex flex-col rounded-[20px] bg-white bg-clip-border shadow-3xl shadow-shadow-500 dark:!bg-navy-800 dark:text-white dark:shadow-none w-full h-full p-4">
      <div class="relative flex items-center justify-between">
        <div class="text-xl font-bold text-navy-700 dark:text-white">Novo Cliente</div>
        <div class="flex items-center space-x-2">
          <div class="relative mr-2 inline-block w-10 select-none align-middle transition duration-200 ease-in">
            <div>
              <label class="switch"><input type="checkbox" value="1" /><span class="slider round"></span></label>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-4 h-full">
        <textarea class="h-40 w-full resize-none rounded-md border p-2">🎉 Bem-vindo(a) ao [store.name]! 🎉 Descubra produtos incríveis e aproveite ofertas exclusivas. Estamos aqui para tornar sua experiência de compra especial. 😊</textarea>
      </div>
    </div>
    <div class="!z-5 relative flex flex-col rounded-[20px] bg-white bg-clip-border shadow-3xl shadow-shadow-500 dark:!bg-navy-800 dark:text-white dark:shadow-none w-full h-full p-4">
      <div class="relative flex items-center justify-between">
        <div class="text-xl font-bold text-navy-700 dark:text-white">Novo Pedido</div>
        <div class="flex items-center space-x-2">
          <div class="relative mr-2 inline-block w-10 select-none align-middle transition duration-200 ease-in">
            <div>
              <label class="switch"><input type="checkbox" value="1" /><span class="slider round"></span></label>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-4 h-full">
        <textarea class="h-40 w-full resize-none rounded-md border p-2" placeholder="">🎉 Bem-vindo(a) ao [store.name]!

          🎉 Descubra produtos incríveis e aproveite ofertas exclusivas. Estamos aqui para tornar sua experiência de compra especial. 😊</textarea>
      </div>
    </div>
    <div class="!z-5 relative flex flex-col rounded-[20px] bg-white bg-clip-border shadow-3xl shadow-shadow-500 dark:!bg-navy-800 dark:text-white dark:shadow-none w-full h-full p-4">
      <div class="relative flex items-center justify-between">
        <div class="text-xl font-bold text-navy-700 dark:text-white">Pedido Pago</div>
        <div class="flex items-center space-x-2">
          <div class="relative mr-2 inline-block w-10 select-none align-middle transition duration-200 ease-in">
            <div>
              <label class="switch"><input type="checkbox" value="1" /><span class="slider round"></span></label>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-4 h-full">
        <textarea class="h-40 w-full resize-none rounded-md border p-2">🎉🛍️ Olá [customer.name]!

          🛍️🎉 Estamos radiantes em informar que seu pagamento para o pedido #[order.number] foi aprovado com sucesso! 🥳✅ Agradecemos muito por escolher a nossa loja para suas compras. Agora, nossa equipe está ocupada preparando seus produtos com todo o cuidado. 📦👏 Assim que seu pedido for despachado, você receberá um número de rastreamento para acompanhar a entrega. 🚚📮 Se tiver alguma dúvida ou precisar de assistência adicional, não hesite em nos contatar. Estamos aqui para ajudar! 📞💬 Agradecemos sua confiança em nós e esperamos que você aproveite suas compras. Tenha um ótimo dia! 😊🛒</textarea>
      </div>
    </div>
    <div class="!z-5 relative flex flex-col rounded-[20px] bg-white bg-clip-border shadow-3xl shadow-shadow-500 dark:!bg-navy-800 dark:text-white dark:shadow-none w-full h-full p-4">
      <div class="relative flex items-center justify-between">
        <div class="text-xl font-bold text-navy-700 dark:text-white">Pedido Cancelado</div>
        <div class="flex items-center space-x-2">
          <div class="relative mr-2 inline-block w-10 select-none align-middle transition duration-200 ease-in">
            <div>
              <label class="switch"><input type="checkbox" value="1" /><span class="slider round"></span></label>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-4 h-full">
        <textarea class="h-40 w-full resize-none rounded-md border p-2">👋 Olá [customer.name]!

          Notamos que o seu pedido foi cancelado e gostaríamos de entender melhor o motivo para podermos melhorar nossos serviços. 😊 Ficaríamos gratos se você pudesse compartilhar conosco o que motivou o cancelamento. Sua opinião é muito importante para nós e queremos garantir que sua experiência seja a melhor possível. Por favor, sinta-se à vontade para nos contar o que aconteceu e como podemos resolver isso da melhor forma para você. Estamos aqui para ajudar! 🛒✨ Esperamos poder servi-lo novamente em breve. Obrigado por escolher [store.name]! 💙</textarea>
      </div>
    </div>
    <div class="!z-5 relative flex flex-col rounded-[20px] bg-white bg-clip-border shadow-3xl shadow-shadow-500 dark:!bg-navy-800 dark:text-white dark:shadow-none w-full h-full p-4">
      <div class="relative flex items-center justify-between">
        <div class="text-xl font-bold text-navy-700 dark:text-white">Carrinho Abandonado</div>
        <div class="flex items-center space-x-2">
          <div class="relative mr-2 inline-block w-10 select-none align-middle transition duration-200 ease-in">
            <div>
              <label class="switch"><input type="checkbox" value="1" /><span class="slider round"></span></label>
            </div>
          </div>
        </div>
      </div>
      <div class="mt-4 h-full">
        <textarea class="h-40 w-full resize-none rounded-md border p-2">🛒 Olá [customer.name]!

          🛍️ Parece que você esqueceu algo no seu carrinho de compras na nossa loja. Não queremos que perca a oportunidade de adquirir esses produtos incríveis que escolheu! 👉 Clique no link abaixo e retorne ao seu carrinho para concluir sua compra:

          [cart.link]

          💬 Se tiver alguma dúvida ou precisar de assistência, nossa equipe de suporte está pronta para ajudar. Agradecemos por escolher a nossa loja. Esperamos que tenha uma ótima experiência de compra!

          Atenciosamente,

          [store.name] 🌟</textarea>
      </div>
    </div>
    <div class="!z-5 relative flex flex-col rounded-[20px] bg-white bg-clip-border shadow-3xl shadow-shadow-500 dark:!bg-navy-800 dark:text-white dark:shadow-none w-full h-full p-4">
      <button class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600">Salvar Mensagens</button>
    </div>
  </div>
</div>
